
* {
    margin: 0;
    padding: 0;
    
  }
  
  html, body {
    height: 100%; 
    width: 100%; 
    margin: 0;
    padding: 0;
    
  }
  
  body {
    font-family: 'Roboto', sans-serif;

  }
  
  .container {

    
    width: 100%;  
    height: 123%; 
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    background-color: #121212;
  }

  .h1div{
    text-align: center;
  }
  
  .h1div h1{
    font-size: 2rem;
  }

  .izomcsoportbtn {
    display: flex;
    flex-direction: column; /* Vertikális elrendezés */
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem; /* Mivel a szöveg is helyet foglal */
    background-color: #1E1E1E;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px;
  }
  
  .izomcsoportbtn img {
    width: 70px;
    height: 70px;
    margin-bottom: 4px; /* Kép és szöveg közötti távolság */
  }
  
